.result-container{
    overflow-x:auto;
    table {
        border-collapse: collapse;
        width: 100%;
    }
    tr{
        th{
            background-color: #31334e;
            color:white;
        }
    }
    th, td {
        text-align: left;
        padding: 8px;
        color:black;
        text-align: center;
    }
    tbody{
        tr:nth-child(even) {
            background-color: #8b8d9c;
        }
        tr:nth-child(odd) {
            background-color: #d3d4e0;
        }
    }
}