.backquiz-btn{
    position: absolute;
    right:150px;
    top:auto;
    background-color: #31334e;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height:40px;
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
    cursor: pointer;
    @media screen and (max-width:320px){
        padding:10px;
        right:150px;
    }
    @media screen and (max-width:268px){
        padding:10px;
        right:90px;
    }
}