.category-container-wrapper{  
    overflow-y: auto;
    max-height: calc(80vh - 100px);
}
.category-container-wrapper::-webkit-scrollbar{  
    width: 5px;
}
.category-container-wrapper::-webkit-scrollbar-thumb {  
    background: rgb(79, 76, 107);
    border-radius: 4px;
}
.scroll-height{  
    max-height: calc(70vh - 100px);
}
.category-container {  
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media screen and (max-width:840px){
        display: flex;
        align-items: center;
        justify-content: center;
        padding:20px;
    }
}
.category-card-margin{  
    margin-top: 70px;
}
.category-card {
  padding: 20px;
  overflow: hidden;
  margin-left: 75px;
  border-radius: 5px;
  background-color: #31334e;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  @media screen and (max-width:700px){
    margin-left:10px;
    margin-top: 10px;
  }
}
.category-card-height{
    min-height: 150px;
}
.quiz-card-height{
    height: fit-content;
    min-height: 200px;
}
.category-card::-webkit-scrollbar{
    width: 30px; 
}
.category-card:hover{
    cursor: pointer;
    box-shadow: 0 6px 10px black;
}
.category-card p {
  font-size: 16px;
  color:white;
}
.category-title{  
    margin-left: 60px;
    color:#31334e;
    @media screen and (max-width:768px){
        margin-left:10px;
    }
    @media screen and (max-width:376px){
        font-size: 20px;
    }
}
.category-quiz-errors{  
    margin-left: 10px;
    color:red;
}
.h2-no-list{   
    color: #31334e;
    text-align: center;
    margin-top: 150px;
}
.long-description{  
  max-height: 80px;
  overflow-x: auto; 
  min-height: 100px;
  overflow-wrap: break-word;
}
.long-description::-webkit-scrollbar {  
    width: 4px;
}  
.long-description::-webkit-scrollbar-thumb {  
    background: white;
    border-radius: 4px;
}
.addcategory-button{  
    position: absolute;
    right:10px;
    top:auto;
    background-color: #31334e;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height:40px;
    width:150px;
    text-align: center;
    cursor: pointer;
    @media screen and (max-width:360px){
        width:100px;
        font-size: medium;
    }
}
.backquiz-button{   
    position: absolute;
    right:170px;
    top:auto;
    background-color: #31334e;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height:40px;
    width:150px;
    text-align: center;
    cursor: pointer;
    @media screen and (max-width:450px){
        width:30%;
    }
    @media screen and (max-width:360px){
        right:120px;
        width:100px;
    }
    @media screen and (max-width:290px){
        right:120px;
        width:70px;
    }
}
.sub-heading-title{  
    margin-left: 60px;
    color:#31334e;
    overflow-wrap: break-word;
    @media screen and (max-width:768px){
        font-size: 5vw;
        margin-left:10px;
    }
}
.categorycard-buttons-div{  
    display:flex;
    margin-top: 25px;
    @media screen and (max-width:378px){
       display: block;
    }
}
.categorycard-button {  
    background-color: white;
    color: #31334e;
    border-radius: 12px;
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
}
.categorycard-button-update{  
    height:40px;
    margin-right: 10px;
    width:140px;
    @media screen and (max-width:378px){
        width:100%;
    }
    @media screen and (max-width:330px){
        margin-left: auto;
    }
}
.categorycard-button-delete{  
    height:40px;
    width:140px;
    @media screen and (max-width:378px){
        width:100%;
        margin-top: 5px;
    }
    @media screen and (max-width:330px){
        margin-left: auto;
    }
}
.start-test-button{  
    height:45px;
    margin-right: 10px;
    width:100%;
}
.category-top-margin{  
    top:60%;
}
.quiz-top-margin{  
    top:65%;
}
.category-form-container{  
    position: fixed;
    left: 50%; 
    background-color: white;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #15172b;
    z-index: 999; 
    height: auto;
    width:25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    @media screen and (max-width:768px){
        width:50%;
    }
    .category-form-title{  
        text-align: center;
        color:#15172b;
    }
    .form-input{  
        background-color: #15172b;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: white;
        font-size: 18px;
        height: 40px;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
    }
    .form-button{  
        background-color: #15172b;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        text-align: center;
        width: 100%;
        margin-top:10px;
    }
}
.sweetalert-text{  
    text-align: left;
}
.sweetalert-button{  
    color:#15172b;
}
.custom-button-text{  
    width:100px;
}
.icons{  
    position: relative;
    top: 3px;
    margin-right: 5px;
}