
.navigation {
  background: linear-gradient(to right,white,#15172b); 
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo-navbar {
  width:40%;
  height: auto;
  max-width :300px;
  left:0px;
}
.menu-icon {
  display: none; 
  cursor: pointer;
  color: white; 
  font-size: 24px; 
}
.close-icon {
  display: none; 
}
.navigation-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.navigation-menu li {
  margin-right: 20px; 
}
.nav-button {
  background-color: transparent;
  border: none;
  color: white; 
  font-size: 16px; 
  cursor: pointer;
  margin-left: 30px;
  margin-right:30px;
  &.active {
    text-decoration: underline;
  }
}
@media (max-width: 968px) {
  .menu-icon {
    display: block; 
  }
  .close-icon{
    display: block;
    color:white;
    border:0;
    cursor: pointer;
    background: none;
    font-size: 20px;
    position: absolute;
    left:10px;
    top:10px;
  }
  .navigation-menu {
    display: none; 
    position: absolute;
    top: 0; 
    right: 0; 
    background: #23263d;
    padding:30px;
    flex-direction: column;
    align-items: center;
    height: auto;
    width:30%;
    height: 100%;
    z-index: 1;
  }
  .navigation-menu.expanded {
    display: flex;
  }
  .navigation-menu ul {
    flex-direction: column;
    align-items: flex-start;
  }

  .navigation-menu li {
    margin-right: 0; 
  }
  .nav-button {
    background-color: transparent;
    border: none;
    color: white; 
    font-size: 20px; 
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
  }
}
.nav-icons{
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 3px;
}
.nav-button-icon{
  display: flex;
  align-items: center;
}