.card{
    width: 400px;
    height: fit-content;
    border-radius: 20px;
    padding: 10px;
    background-color: #31334e;
    text-align: center;
}
.image{
    height: auto;
    width: 120px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
table{
    flex-wrap: wrap;
    padding-left: 70px;
    @media screen and (max-width:385px){
        padding-left: 30px;
    }
}
tr{
    color:white;
}
td {
    text-align: left;
    padding-bottom: 5px;
}
.second-td{
    text-align: left;
    word-break: break-all;
    padding-left: 40px;
}
.profile-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}