.body {
  align-items: center;
  background-image: url("../assets/images/loginAndRegister/background-img.jpeg");
  display: flex;
  justify-content: center;
  width:100%;
  height: 100vh;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-position: cover;
  background-size: cover;
  .form{
    margin-top: 50px;
  }
  .title {
    background: linear-gradient(to right,#15172b,white);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
   }
   .logo{
    width:100%;
    height: auto;
    max-width :300px;
    position: absolute;
    left:0px;
    top:20px;
    @media screen and (max-width:600px) {
      width:50%;
      height: auto;
      max-width :300px;
      position: absolute;
      left:0px;
      top:20px;
    }
  }
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 40px;
    color: white;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
    flex-grow: 1;
  }
  .input-date-color{
    color:grey;
  }
  .input::-webkit-calendar-picker-indicator {
    filter: invert(1)
  }
  .radio-div{
    margin-left: 20px;
    margin-top:10px;
    margin-bottom: 10px;
    color:#15172b;
    accent-color:#15172b;
    display: flex;
  }
  .password-container{
    position: relative;
  }
  .toggle-password{
    position: absolute;
    top: 50%; 
    right: 10px; 
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color:white;
    font-size: medium;
  }
  .error{
    color:red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .button-div{
    text-align: center;
  }
  .login-button {
    background-color: white;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #15172b;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
  }
  .register-button{
    color:#15172b;
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    margin-left: 10px;
  }
  .click-button{
    border:none;
    background: none;
    font-size: medium;
    color: white;
  }
}