.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media screen and (max-width:840px){
        display: flex;
        align-items: center;
        justify-content: center;
        padding:20px;
    }
}
.category-card {
  padding: 20px;
  margin-top: 70px;
  margin-left: 60px;
  border-radius: 5px;
  background-color: #31334e;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 300px; 
  @media screen and (max-width:430px){
    margin-left:10px;
    margin-top: 10px;
  }
}
.category-card:hover{
    cursor: pointer;
    box-shadow: 0 6px 10px black;
}
.category-card p {
  font-size: 16px;
  color:white;
}
.category-title{
    margin-left: 60px;
    color:#31334e;
    @media screen and (max-width:430px){
        margin-left:10px;
    }
    @media screen and (max-width:360px){
        font-size: 25px;
    }
    @media screen and (max-width:300px){
        font-size: 20px;
    }
}
.err{
    text-align: center;
    color:red;
}
.addcategory-btn{
    position: absolute;
    right:0;
    top:auto;
    background-color: #31334e;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height:40px;
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
    cursor: pointer;
    @media screen and (max-width:268px){
        padding:5px;
    }
}
.category-btn{
    background-color: white;
    color: #31334e;
    border-radius: 12px;
    height:40px;
    font-size: 18px;
    padding-left:40px;
    padding-right: 40px;
    cursor: pointer;
    @media screen and (max-width:330px){
        margin-left: auto;
    }
}
.cat-container{
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #15172b;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        z-index: 998; 
    }
    .category-title1{
        text-align: center;
        color:#15172b;
        margin-bottom: auto;
        margin-top: auto;
    }
    .name{
        background-color: #15172b;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: white;
        font-size: 18px;
        height: 40px;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
    }
    .description{
        background-color: #15172b;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color:white;
        font-size: 18px;
        height: 40px;
        outline: 0;
        padding: 4px 20px 0;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
    }
    .description::placeholder{
        font-family: Arial, Helvetica, sans-serif;
    }
    .btn{
        background-color: #15172b;
        border-radius: 12px;
        border: 0;
        box-sizing: border-box;
        color: white;
        cursor: pointer;
        font-size: 18px;
        height: 40px;
        text-align: center;
        width: 45%;
        margin-top:10px;
        margin-left: 10px;
        @media screen and (max-width:490px){
            width:85%;
        }
    }
}
.backquiz-btn{
    position: absolute;
    right:150px;
    top:auto;
    background-color: #31334e;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    height:40px;
    padding-left:30px;
    padding-right: 30px;
    text-align: center;
    cursor: pointer;
    @media screen and (max-width:320px){
        padding:10px;
        right:160px;
    }
    @media screen and (max-width:268px){
        padding:10px;
        right:90px;
    }
}